body{margin: 0 auto;background-color:rgba(70,70,70,0.2);}
#div-dispon{width:250px;height:500px;overflow-y:auto;margin-left:30px;float:left;margin-top:8px;}
#div-dispon .panel-success{width:200px;margin-top:10px;}
#div-dispon div .panel-heading{background-color:#299;color:#eee;font-size:12px;height:50px;}
#div-dispon .panel-body{height:30px;padding:5px;}
#div-dispon .panel-body span {float:left;height:20px;padding-top:5px;}
#div-dispon .button-group button {height:20px;width:80px;font-size:12px;padding:0px;float:right;}
#periodos{width:500px;float:left;margin-left:50px;}
#title-periodos{margin-bottom:10px;}
#periodos form{margin:0;font-size:14px;}
#periodos .label-info{font-size:20px;margin-top:20px;}
#periodos .nav-pills{width:410px;margin-top: 15px;}
#peridos .tab-content{height:500px;}
#INFOS{position:relative;width:300px;height:200px;top:40px;float:left;}
#Legenda{position:relative;border-radius:15px;float:left;left:20px;}
#Informacoes{position:relative;border-radius:15px;float:left;right:20px;}