
body{margin: 0 auto;}
h2{position:relative;top:10px;}
.alocadas{}
.disponiveis{}
.alocadas, .disponiveis{width:170px;height:52px;margin-bottom:10px;margin-top:10px; block;border-radius:20px;
position:relative; left:-28px;margin-right:15px; border:2px inset #25f;background-image:url('/assets/images/bg-body.gif');background-size:100% 100%;z-index:1;}
.alocadas-vermelho{width:170px;height:55px;margin-bottom:10px;margin-top:10px; block;border-radius:20px;
position:relative; left:-28px;margin-right:15px; border:2px inset #25f;z-index:1;
background: #febbbb; /* Old browsers */
background: -moz-linear-gradient(top,  #febbbb 0%, #fe9090 45%, #ff5c5c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#febbbb), color-stop(45%,#fe9090), color-stop(100%,#ff5c5c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */
}
.alocadas a, .disponiveis a{text-decoration: none; color: #003;}
.alocadas:hover{cursor:pointer;}
.alocadas-vermelho:hover{cursor:pointer;}
.disponiveis:hover{cursor:pointer;}
.disponiveis{display:inline-block;}
#li{background-color: #ddd;width:240px;height:40px;margin:10px;border-radius:20px;text-align:center;}
#li a{font-size: 20px;text-decoration: none}
h2{margin:0px auto;}
#//periodos{width: 75%;height:500px;overflow-y:auto;float:right;position:relative;margin-right:40px;margin-top: 25px;}
#addPeriodo{background-color:#000;margin-left:80px;margin-top: -10px;}
#addPeriodo a{color:#fff;text-decoration:none;}
.periodo{width: 220px;height:500px;float: left;40px;border-bottom-right-radius:40px;
text-align: center;margin-bottom: 10px;
overflow-y:auto;overflow-x:hidden; margin-left: 5px;border:4px solid #fff;border-color:transparent;}
.periodo h3{position:relative;left:-20px;}
.periodoCreditos{color:#ff0;text-shadow: 1px 1px 1px #000;}
.periodoDificuldade{color:#f99;text-shadow: 1px 1px 1px #000;margin-left:10px;}
.creditos{font-size: 12px; color:#050;position:absolute;left:10px;bottom:-2px;text-shadow:1px 1px 1px #000;z-index:-2;}
.dificuldade{float:right;font-size: 12px; color:#92d;position:absolute;left:80px;bottom:-2px;text-shadow:1px 1px 1px #000;z-index:-2;}
.periodoActive{border:4px solid rgba(0, 255, 0, .3);}
.periodoDrag{opacity:0.5; }
.separator{width:1200px;border:1px solid;opacity:0.4;}
.close{position:relative;float:right;right:10px;top:10px;z-index:1;}
.close:hover{cursor: pointer;}
.remove:hover{color:#0ff;}
.remover{width:30px;height:30px;border-radius:30px;position:relative;
background-color:#f22;opacity:0.8;visibility:visible;z-index:10;}
.hidden{visibility:hidden;}
.nome{position:absolute;left:0px;width:170px; font-size:11px;text-align:center;z-index:-2;}