@(plano: PlanoDeCurso)

@if(flash.contains("fail")) {
	<script>
	alert('@flash.get("fail")'); 
	</script>
}

@if(session.get("connected")) {
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="navbar-brand">
			Bem Vindo! @session.get("connected")
		</div>
		<div style="float:right;color:#fff;font-size:20px;margin-right:20px;margin-top:10px;">
			<a href="/logout" class="glyphicon glyphicon-log-out" style="text-decoration:none;">
				Logout
			</a>
		</div>
		
	</nav>
}

@import helper._

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type='text/javascript' src="@routes.Assets.at("javascripts/funcoes.js")"></script>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- <body style="background-color:rgba(120,120,120,0.9);"> -->
<body style="background-color:rgba(70,70,70,0.2);"> 
@main("Plano de Curso") {
	<!-- 
	<center><h2>@Messages("planoDeCurso")</h2></center>
	 -->
	<!-- BOTAO ADD PERIODO 
    <span id="addPeriodo">
		<a href="/addPeriodo">@Messages("addPeriodo")</a>
	</span>
	 -->
	<center><h3 style="position:absolute;top:32px;width:100%;background-color:rgba(0,0,200,0.5); color:#fff;">
	Plano De Curso
	</h3></center>
	
	<h5 style="float:right;width:40%;position:relative;top:25px; margin:0;color:#600;font-size:14px;">
		- Arraste a cadeira para o período que você quer alocá-la
	</h5>
	<form style="float:right;width:40%;position:relative;top:25px; margin:0;color:#600;font-size:14px;left:80px;"
		action="@routes.Application.atualizaPeriodo" method="post">
		<div>
		<label>Periodo Atual:</label>
		<input type="number" name="periodo" placeholder="Periodo" id="periodo"/>
		<input type="submit" value="OK" />
		</div>
	</form>
	
	
	<div id="periodos">
	@for(periodo <- plano.getPeriodos()) {
		@if(plano.getPeriodoCursando() == periodo.getNumero()){
		<div id="@periodo.getNumero()" class="periodo" ondrop="drop(event, this)"	
			style="background-color:#cfc "
			ondragover="allowDrop(event,this)" ondragleave="leave(event, this)">
		}else{
			@if(plano.getPeriodoCursando() > periodo.getNumero()){
			<div id="@periodo.getNumero()" class="periodo" ondrop="drop(event, this)"
				style="background-color:#fcc "	
				ondragover="allowDrop(event,this)" ondragleave="leave(event, this)">
			} else {
			<div id="@periodo.getNumero()" class="periodo" ondrop="drop(event, this)"
				style="background-color:#ccf;"	
				ondragover="allowDrop(event,this)" ondragleave="leave(event, this)">
			}
		}
		
		<!--  BOTAO FECHAR DO PERIODO 
		@if(periodo.getNumero() != 1) {
			<span><a class="close" href="remPeriodo/@periodo.getNumero()">X</a></span>
		}
		 -->
		
		<ul style="list-style:none;">
			@if(plano.getPeriodoCursando() == periodo.getNumero()){
			<li style="width:190px;height:30px;font-size:20px;margin-bottom:10px;margin-left:-40px;
				background-color:rgba(0,200,0,0.5); color:#fff;">
				Periodo Atual
			</li>
			}
			
			<li style="width:190px;height:30px;font-size:20px;margin-bottom:10px;margin-left:-40px;
			background-color:rgba(0,0,200,0.5); color:#fff;">
				@periodo.getNumero() @Messages("nPeriodo") 
			</li>
			@for(cadeira <- periodo.getCadeiras()) {
			
		  	<!--  <div class="alocadas" id="@cadeira.getNome()" title="remover" 
		  	onclick="remCadeira('@cadeira.getNome()', '@plano.isPreRequisito(cadeira.getNome())')">  -->
		  	
		  	@if(plano.verificaPrerequisito(cadeira.getNome())){
		  			<div class="alocadas-vermelho" id="@cadeira.getNome()" title="remover" draggable="true" 
		ondragstart="drag(event)" ondragend="dragEnd()">
		  	}else{
		  		<div class="alocadas" id="@cadeira.getNome()" draggable="true" 
		ondragstart="drag(event)" ondragend="dragEnd()">
		  	}		  	
		  		<center><label class="nome"> <span>@cadeira.getNome()</span></label></center>
		  		<label class="creditos">@cadeira.getCreditos() @Messages("creditos")</label>
		  		<label class="dificuldade"> dificuldade: @cadeira.getDificuldade()</label>
		  		
		  		<span class="remove" style="margin-top: 5px;margin-left:140px;" title="remover"  
		  		onclick="remCadeira('@cadeira.getNome()', '@plano.isPreRequisito(cadeira.getNome())')"></span>	
		  	</div>
		} 
		</ul>
		<span class="periodoCreditos">@periodo.getCreditos() @Messages("creditos")</span>
		<span class="periodoDificuldade">Dificuldade: @periodo.getDificuldadeTotal()</span>
		</div>
	}
	</div>

	<!-- 
	<h5 style="float:right;position:absolute;top:630px;left:760px;margin:0;color:#600;">
		Clique sobre uma cadeira para removê-la.
	</h5>
	 -->
	
	<br/>
	
	<!-- 
	<h3 style="float:left;position:relative;left:50px;">@Messages("cadeirasDisponiveis")</h3>
	 -->
	
	<div style="width:220px%;height:500px;overflow-y:auto;margin-top:13px;margin-left:30px;">
	<ul style="list-style:none;margin-top:20px;">
		<li style="width:220px;height:30px;font-size:20px;margin-bottom:10px;margin-left:-50px;
			background-color:rgba(0,200,100,0.5); color:#fff;border-radius:0px;">
			@Messages("cadeirasDisponiveis") 
		</li> 
		@for(cadeira <- plano.getCadeiraDispniveisOrdenadas()) {
		<div class="disponiveis" id="@cadeira.getNome()"	draggable="true" 
		ondragstart="drag(event)" ondragend="dragEnd()">
	  		<center><label class="nome">@cadeira.getNome()</label></center>
		  	<label class="creditos">@cadeira.getCreditos() @Messages("creditos")</label>
		  	<label class="dificuldade"> dificuldade: @cadeira.getDificuldade()</label>
	  	</div>
	} 
	</ul>
	</div>	
	
	<div id="legenda" style="position:relative;top:60px;left:200px;width: 300px; height:200px;border-radius:15px;">
		<ul style="list-style: none;">
		<h4>LEGENDA</h4>
		<li>
			<div style="border-radius:20px;background-color:#fcc;width: 30px;height:30px;border:1px solid;display:inline-block;"></div>
			<label> Periodos Anteriores</label>
		</li>
		<li>
			<div style="border-radius:20px;background-color:#cfc;width: 30px;height:30px;border:1px solid;display:inline-block;"></div>
			<label> Periodo Atual</label>
		</li>
		<li>
			<div style="border-radius:20px;background-color:#ccf;width: 30px;height:30px;border:1px solid;display:inline-block;"></div>
			<label> Periodos Posteriores</label>
		</li>
		</ul>
	</div>
	
	<div id="Informacoes" style="position:relative;top:-150px;left:600px;width: 500px; height:150px;border-radius:15px;">
		<h4>Informações</h4>
			<div style="border-radius:20px;background-color:#fcc;height:30px;border:1px solid;">
				<label>CREDITOS JÁ PAGOS:</label>
			</div>
			<div style="border-radius:20px;background-color:#cfc;height:30px;border:1px solid;">
				<label>CREDITOS CURSANDO</label>
			</div>
			<div style="border-radius:20px;background-color:#ccf;height:30px;border:1px solid;">
				<label>CREDITOS PLANEJADOS</label>
			</div>
			<div style="border-radius:20px;background-color:#eee;height:30px;border:1px solid;">
				<label>CREDITOS PARA COMPLETAR O CURSO</label>
			</div>
	</div>
}
</body>
