@(plano: PlanoDeCurso)

@import helper._
<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Plano De Curso</title>
	<script type='text/javascript' src="@routes.Assets.at("javascripts/funcoes.js")"></script>
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
	<!-- Latest compiled and minified JS & CSS-->
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
</head>

<body style="background-color:rgba(70,70,70,0.2);"> 

@if(session.get("connected")) {
	<nav class="navbar navbar-inverse" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Plano De Curso</a>
		</div>
		<p class="navbar-text">Bem Vindo! @session.get("connected")</p>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
			</ul>
			<ul class="nav navbar-nav navbar-right" style="margin-right:20px;">
				<button type="button" class="btn btn-default navbar-btn">
				<a class="glyphicon glyphicon-log-out" href="/logout">Logout</a>
				</button>
			</ul>
		</div><!-- /.navbar-collapse -->
	</nav>
} else {
	
}

<!-- MODAL DE ERRO  -->
@if(flash.contains("fail")) {
	<div class="modal fade" id="modal-id">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">ERRO</h4>
				</div>
				<div class="modal-body">
					@flash.get("fail")
				</div>
				<div class="modal-footer">
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<script> 
		$("#modal-id").modal('show');
	</script>
}

<h5 style="float:right;width:40%;position:relative;top:25px; margin:0;color:#600;font-size:14px;">
	- Arraste a cadeira para o período que você quer alocá-la
</h5>

<form style="float:right;width:40%;position:relative;top:25px; margin:0;color:#600;font-size:14px;left:80px;"
action="@routes.Application.atualizaPeriodo" method="post">
<div>
	<label>Periodo Atual:</label>
	<input type="number" name="periodo" placeholder="Periodo" id="periodo"/>
	<input type="submit" value="OK" />
</div>
</form>


<div id="periodos">
@for((periodo, index) <- plano.getPeriodos().zipWithIndex){
	@if(plano.getPeriodoCursando() == (index+1)){

	<div id="@index" class="periodo" ondrop="drop(event, this)"	
		style="background-color:#cfc "	ondragover="allowDrop(event,this)" ondragleave="leave(event, this)">
	}else{
		@if(plano.getPeriodoCursando() > (index+1)){
		<div id="@(index+1)" class="periodo" ondrop="drop(event, this)"
			style="background-color:#fcc "	ondragover="allowDrop(event,this)" ondragleave="leave(event, this)">
		} else {
		<div id="@(index+1)" class="periodo" ondrop="drop(event, this)"
			style="background-color:#ccf;"	ondragover="allowDrop(event,this)" ondragleave="leave(event, this)">
		}
	}

	<ul style="list-style:none;">

	<li style="width:190px;height:30px;font-size:20px;margin-bottom:10px;margin-left:-40px;
		background-color:rgba(0,0,200,0.5); color:#fff;">
		@(index+1) @Messages("nPeriodo") 
	</li>
	@for(cadeira <- periodo.getCadeiras()) {

		@if(plano.verificaPrerequisito(cadeira.getNome())){
			<div class="alocadas-vermelho" id="@cadeira.getNome()" title="remover" draggable="true" 
			ondragstart="drag(event)" ondragend="dragEnd()">
		}else{
			<div class="alocadas" id="@cadeira.getNome()" draggable="true" 
			ondragstart="drag(event)" ondragend="dragEnd()">
		}		  	
		<center><label class="nome"> <span>@cadeira.getNome()</span></label></center>
		<label class="creditos">@cadeira.getCreditos() @Messages("creditos")</label>
		<label class="dificuldade"> dificuldade: @cadeira.getDificuldade()</label>

		<span class="remove" style="margin-top: 5px;margin-left:140px;" title="remover"  
		onclick="remCadeira('@cadeira.getNome()', '@plano.isPreRequisito(cadeira.getNome())')"></span>	
		</div>
	} 
	</ul>
	<span class="periodoCreditos">@periodo.getCreditos() @Messages("creditos")</span>
	<span class="periodoDificuldade">Dificuldade: @periodo.getDificuldadeTotal()</span>
	</div>
}
</div>

<!-- 
	<h5 style="float:right;position:absolute;top:630px;left:760px;margin:0;color:#600;">
		Clique sobre uma cadeira para removê-la.
	</h5>
-->
<br/>

<div style="width:220px%;height:500px;overflow-y:auto;margin-top:13px;margin-left:30px;">
	<ul style="list-style:none;margin-top:20px;">
		<li style="width:220px;height:30px;font-size:20px;margin-bottom:10px;margin-left:-50px;
		background-color:rgba(0,200,100,0.5); color:#fff;border-radius:0px;">
		@Messages("cadeirasDisponiveis") 
	</li> 
	@for(cadeira <- plano.getCadeiraDispniveisOrdenadas()) {
	<div class="disponiveis" id="@cadeira.getNome()"	draggable="true" 
	ondragstart="drag(event)" ondragend="dragEnd()">
		<center><label class="nome">@cadeira.getNome()</label></center>
		<label class="creditos">@cadeira.getCreditos() @Messages("creditos")</label>
		<label class="dificuldade"> dificuldade: @cadeira.getDificuldade()</label>
	</div>
	} 
</ul>
</div>	
<center>
<div id="INFOS" style="position:relative;width:900px;height:200px;top:40px;">
		
	<div id="Legenda" style="position:relative;border-radius:15px;float:left;left:20px;">
		<ul>
			<a href="#" class="list-group-item active">Legenda</a>
			<li class="list-group-item">
				<span class="badge" style="background-color:#fcc;">.</span> Períodos Anteriores
			</li>
			<li class="list-group-item">
				<span class="badge" style="background-color:#cfc;">.</span>Período Atual
			</li>
			<li class="list-group-item">
				<span class="badge" style="background-color:#ccf;">.</span>Períodos Posteriores
			</li>
		</ul>
	</div>
	<div id="Informacoes" style="position:relative;border-radius:15px;float:right;right:20px;">
		<ul>
			<a href="#" class="list-group-item active">Informações</a>
			<li class="list-group-item">
				<span class="badge">@plano.getCreditosPagos</span> Créditos Já Pagos
			</li>
			<li class="list-group-item"><span class="badge">@plano.getCreditosAtuais</span>Créditos Que Estou Cursando
			</li>
			<li class="list-group-item"><span class="badge">@plano.getCreditosFuturos</span>Créditos Futuros 
			</li>
			<li class="list-group-item"><span class="badge">@plano.getCreditosRestantes</span>Créditos Restantes Para Concluir
			</li>
		</ul>
	</div>
</div>
</center>
</body>
</html>