@(form: Form[Application.Login])

@if(session.get("connected")) {
	<script>window.location.href = "/home" </script>
}

<html>
<head>
<title>Login Plano De Curso</title>
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">    
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/login.css")">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<section id="content">
		@helper.form(routes.Application.authenticate) {
			<h1>Login</h1>
			@if(flash.contains("fail")) {
    		<p class="fail" style="">
        		@flash.get("fail")
    		</p>
			}
			<div>
				<input type="email" name="email" placeholder="Email" id="username" value="@form("email").value"/>
			</div>
			<div>
				<input type="password" placeholder="Password" required="" id="password" name="password"/>
			</div>
			<div>
				<input type="submit" value="Entrar" />
				<!-- 
				<a href="#">Lost your password?</a>
				<a href="#">Register</a>
				 -->
			</div>
		}<!-- form -->
			<div class="button">
				<a href="#">CADASTRAR-SE</a>
			</div><!-- button -->
		</section><!-- content -->
	</div><!-- container -->
	
	@if(form.hasGlobalErrors) {
	    <p class="error">
	        @form.globalError.message
	    </p>
	}
	<center>
	<div id="container" style="width:30%;height:150px;font-size:12px;">
		<div class="panel panel-default">
	  	<div class="panel-heading">5 Usuários Cadastrados no BD</div>
	  	<div class="panel-body">
	    	Usuario 1: jose00@@gmail.com  | senha: 123
	  	</div>
	  	<div class="panel-body">
	    	Usuario 2: joao00@@gmail.com  | senha: 123
	  	</div>
	  	<div class="panel-body">
	    	Usuario 3: maria00@@gmail.com  | senha: 123
	  	</div>
	  	<div class="panel-body">
	    	Usuario 4: joana00@@gmail.com  | senha: 123
	  	</div>
	  	<div class="panel-body">
	    	Usuario 5: bruno00@@gmail.com  | senha: 123
	  	</div>
		</div>
	</div>
	</center>

</body>
</html>