@(plano: PlanoDeCurso)

<div class="modal fade" id="modal-plano">
	<div class="modal-dialog" style="width:1200px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Plano De Curso</h4>
			</div>
			<div class="modal-body">
<!-- INICIO CORPO DO MODAL ============================================================= -->

<!-- Div periodos -->
<div id="periodos" style="width:1200px;">
	<!--
	<center>
	 Tittle Periodos 
	<a href="#" class="list-group-item active" style="margin-bottom:-15px;">Periodos</a>
	</center>
	-->

	@for((periodo, index) <- plano.getPeriodos().zipWithIndex){
		@if(periodo.isEmpty()) {

		} else {
			<!-- DIV DO PERIODO -->
			@if(index+1 < plano.getPeriodoCursando()) {
			<div id="Periodo@index" class="panel panel-default" 
				style="background-color:#fcc;width:180px;border:3px groove;float:left;height:550px;overflow-y:auto;">
			} else{
			@if(index+1 == plano.getPeriodoCursando()) {
			<div id="Periodo@index" class="panel panel-default" 
				style="background-color:#cfc;width:180px;border:3px groove;float:left;height:550px;overflow-y:auto;">
			}else{
			<div id="Periodo@index" class="panel panel-default" 
				style="background-color:#999;width:180px;border:3px groove;float:left;height:550px;overflow-y:auto;">
			}
			}
			<!--- BODY DIV PERIODO -->
			<div class="panel-body" style="width:150px;">
				@for(cadeira <- periodo.getCadeiras()) {

				<!-- div cadeira -->
				<div class="panel panel-success" style="width:150px;margin-right:25px;"> 
				@if(plano.verificaPrerequisito(cadeira.getNome())){
					<div class="panel-heading" style="background-color:#900;color:#eee;font-size:10px;height:50px;">
				}else{
					<div class="panel-heading" style="background-color:#299;color:#eee;font-size:10px;height:50px;">
				}
					<!--
						<button type="button" class="close" style="left:8px;top:-5px;"
						onclick="remCadeira('@cadeira.getNome()', '@plano.isPreRequisito(cadeira.getNome())')">&times;</button>
					-->
						<center> @cadeira.getNome()</center>

					</div>
					<!--
					<div class="panel-body col" style="height:30px;padding:5px;">
						
						<span class="label label-warning" style="float:left;height:20px;padding-top:5px;"> 
						@Messages("creditos"): @cadeira.getCreditos() </span>		
						<div class="button-group">
							<button id="move-@cadeira.getNome()"type="button" class="btn btn-info popover-right" style="height:20px;width:80px;font-size:12px;padding:0px;float:right;" 
							data-container="body" data-toggle="popover"	data-content="s" 
							onclick="contentPopover(this, @index, @plano.getPeriodos().size())" >Mover</button>
							
						</div>
					</div>
					-->
				</div> <!-- fim div cadeira -->
				}
			
			</div> <!-- fim panel body -->
			<!-- FOOTER div periodo -->
			<!--
			<div class="panel-footer">
				<center>
				<span class="label label-success" style="font-size:17px;"> 
				@Messages("creditos") Do Periodo: @periodo.getCreditos() </span>
				</center>
			</div>
			-->
		</div> <!-- Fim div periodo -->
	 	}
	}
</div> <!-- Fim div de todos os periodos -->

<!-- FIM CORPO DO MODAL ============================================================= -->
			</div>
			<div class="modal-footer">
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->